/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root {
  --primary: #7367f0;
  --secondary: #ff9f43;
  --secondary-light: #ff9e4365;
  --primary-light: #7267f050;
  --background: #f3f3f3;
  --nav_head: #696969;
  --dark-0: rgba(0, 0, 0, 0.835);
  --dark-1: rgba(0, 0, 0, 0.685);
}

[data-theme="dark"] {
  --background: #171d31;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px*/
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 55.5%;
  }
}

@media only screen and (max-width: 300px) {
  html {
    font-size: 40.5%;
  }
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Montserrat";
  background-color: var(--background);
  font-weight: 400;
  line-height: 1.6;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

app-root {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}

app-sidebar {
  position: fixed;
  display: flex;
  width: 26rem;
  max-width: 26rem;
  flex-direction: column;
  height: 100vh;
  background-color: #ffff;
  overflow-y: scroll; /* Add the ability to scroll */
  scrollbar-width: none; /* Firefox 64 */
  z-index: 99999999;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  app-sidebar {
    transition: width 0.25s, opacity 0.25s, transform 0.25s,
      -webkit-transform 0.25s;
    transform: translate(0);

    &.no-disp {
      transform: translate(-260px);
    }
  }
  app-main-layout {
    margin-left: 0 !important;
  }
  app-header {
    width: calc(100% - 4rem) !important;
  }
}

app-header {
  position: fixed;
  right: 0;
  width: calc(100% - 4rem - 260px);
  background: #fff;
  margin: 1.3rem 2rem 0;
  padding: 0.8rem 1rem;
  border-radius: 0.428rem;
  transition: all 0.4s;
  box-shadow: 0 0.1rem 0.4rem 0 rgba(85, 85, 85, 0.2),
    0 0.2rem 1rem 0 rgba(85, 85, 85, 0.19);
  z-index: 9999;
}

app-main-layout {
  width: 100%;
  transition: all 0.4s;
  padding: 9.75rem 2rem 0;
  margin-left: 260px;
}

.divider {
  width: 100% !important;
  height: 0.15rem;
  margin: 1rem 0;
  background-color: rgb(226, 226, 226);
}

.back-drop {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.466);
  transition: all 0.4s;
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 55.5%; /*1rem = 10px*/
  }
}

@media only screen and (max-width: 30px) {
  html {
    font-size: 40.5%; /*1rem = 10px*/
  }
}
