.sdbr {
  &_icn {
    padding: 1.2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left {
      display: flex;
      align-items: center;
    }

    &-right {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding-top: 0.2rem;
      mat-icon {
        color: var(--primary);
      }
    }

    img {
      width: 3.5rem;
      height: 3.5rem;
      margin-right: 1.4rem;
    }

    span {
      font-size: 2.45rem;
      letter-spacing: 0.1rem;
      font-weight: bold;
      color: var(--primary);
    }
  }
}

.nav_menu {
  padding: 0 2.4rem;
}

mat-icon {
  margin: 0;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 2.3rem;
}

.nav_menu_itm {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0.9rem 0px;
  padding: 1rem 0;
  color: #565360;
  transition: all 0.4s;
}

.nav_menu_itm:hover {
  background: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, 0.7));
  color: #fff !important;
  padding-left: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.nav_menu_itm span {
  margin-left: 1rem;
  font-size: 1.6rem;
}

.nav_header {
  margin-top: 2rem;
  margin-left: 0.4rem;
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: 700;
  color: #565360;
}
