<nav class="header_wrp">
  <div class="left_icons">
    <div class="sidebar_icon">
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
        (click)="sidebarToggle()"
      >
        <mat-icon>reorder</mat-icon>
      </button>
    </div>
    <div class="other_left_icons">
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>calendar_today</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon> chat_bubble_outline</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon> mail_outline</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>bookmark_border</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon> list_alt</mat-icon>
      </button>
    </div>
  </div>

  <div class="right_icons">
    <div class="icon_group" style="margin-right: 1rem">
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>notifications_none</mat-icon>
      </button>
    </div>

    <div class="profile_section">
      <div class="profile_txt">
        <span class="profile_name">John Doe</span>
        <span class="profile_desc">admin</span>
      </div>
      <div class="profile_pic">
        <img
          src="https://pixinvent.com/demo/vuexy-vuejs-admin-dashboard-template/demo-1/img/13-small.d796bffd.png"
          alt="profile"
        />
      </div>
    </div>
  </div>
</nav>
